<?xml version="1.0" encoding="UTF-8"?>
<!-- <beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:tool="http://www.springframework.org/schema/tool" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd  
     http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd  
     http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd  
     http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd  
     http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd  
     http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd  
     http://www.springframework.org/schema/tool http://www.springframework.org/schema/tool/spring-tool.xsd" -->
     <beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="
     http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
     http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
     http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
	http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.1.xsd" 
	default-lazy-init="true" >
<!-- 使用annotation定义事务 -->
	<tx:annotation-driven proxy-target-class="true" transaction-manager="transactionManager"/>
<!-- SessionFactory -->
	

	<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
	
		<property name="packagesToScan">
			<list>
				<value>cp.pay.mj.domain</value>
			</list>
		</property>
		<property name="namingStrategy">
			<bean class="org.hibernate.cfg.ImprovedNamingStrategy" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">${hibernate.dialect}</prop>
				<prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
				<prop key="hibernate.format_sql">${hibernate.format_sql}</prop>
				<prop key="hibernate.hbm2ddl.auto">${hibernate.hbm2ddl.auto}</prop>
				<prop key="hibernate.current_session_context_class">org.springframework.orm.hibernate4.SpringSessionContext</prop>
				<!-- 配置二级缓存和查询缓存 EhCache -->
				<prop key="hibernate.cache.use_second_level_cache">true</prop>
				<prop key="hibernate.cache.use_query_cache">true</prop>
				<prop key="hibernate.jdbc.batch_size">${hibernate.jdbc.batch_size}</prop>
				<prop key="hibernate.cache.region.factory_class">org.hibernate.cache.EhCacheRegionFactory</prop>
				<prop key="net.sf.ehcache.configurationResourceName">ehcache.xml</prop>
			</props>
		</property>
	</bean>
	<bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
		<property name="nestedTransactionAllowed" value="true"/>
	</bean>
	<context:component-scan base-package="cp.pay.mj" annotation-config="true">
		<context:exclude-filter type="regex"
			expression="cp.pay.mj.action.*" />
		<!-- <context:exclude-filter type="annotation"
		expression="org.aspectj.lang.annotation.Aspect" /> -->
	</context:component-scan>
	
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="save*" propagation="REQUIRED" isolation="DEFAULT" />
			<tx:method name="update*" propagation="REQUIRED" isolation="DEFAULT" />
			<tx:method name="delete*" propagation="REQUIRED" isolation="DEFAULT" />
			<tx:method name="batch*" propagation="REQUIRED" isolation="DEFAULT" />
			<tx:method name="load*" propagation="REQUIRED" isolation="DEFAULT" read-only="true" />
			<tx:method name="get*" propagation="REQUIRED" isolation="DEFAULT" read-only="true" />
			<tx:method name="find*" propagation="REQUIRED" isolation="DEFAULT" read-only="true" />
			<tx:method name="*" propagation="REQUIRED" isolation="DEFAULT" />
		</tx:attributes>
	</tx:advice>
	
	<aop:config>
		<aop:pointcut id="txPointcut" expression="execution(* cp.pay.mj.service..*(..)) " />
		<!-- advisor是切入点通知(既包含切入点,有包含通知) -->
		<!-- order 表示AOP的执行顺序, 对于同一个方法配置了order时 , order越低, 优先级越高. -->
		<aop:advisor pointcut-ref="txPointcut" advice-ref="txAdvice"/>
	</aop:config>

	<beans profile="development">
		<context:property-placeholder ignore-resource-not-found="true"
			location="classpath*:/setup.properties, classpath*:/setup.development.properties" />
		
		<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close"> 
		    <!-- 基本属性 url、user、password -->
		    <property name="url" value="${jdbc.url}" />
		    <property name="username" value="${jdbc.username}" />
		    <property name="password" value="${jdbc.password}" />
		      
		    <!-- 配置初始化大小、最小、最大 -->
		    <property name="initialSize" value="${jdbc.minsize}" />
		    <property name="minIdle" value="${jdbc.minIdle}" /> 
		    <property name="maxActive" value="${jdbc.maxsize}" />
		 
		    <!-- 配置获取连接等待超时的时间 -->
		    <property name="maxWait" value="60000" />
		 
		    <!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 -->
		    <property name="timeBetweenEvictionRunsMillis" value="60000" />
		 
		    <!-- 配置一个连接在池中最小生存的时间，单位是毫秒 -->
		    <property name="minEvictableIdleTimeMillis" value="300000" />

		    <property name="validationQuery" value="SELECT 'x'" />
		    <property name="testWhileIdle" value="true" />
		    <property name="testOnBorrow" value="false" />
		    <property name="testOnReturn" value="false" />
		 
		    <!-- 打开PSCache，并且指定每个连接上PSCache的大小 -->
		    <property name="poolPreparedStatements" value="false" />
		    <!-- <property name="maxPoolPreparedStatementPerConnectionSize" value="20" /> -->
		 
		    <!-- 配置监控统计拦截的filters -->
		    <property name="filters" value="stat" /> 
		</bean>	
		
	</beans>
	
	<beans profile="production">
		<context:property-placeholder ignore-resource-not-found="true" location="classpath*:/setup.properties, classpath*:/setup.production.properties" />
		<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close"> 
		    <property name="url" value="${jdbc.url}" />
		    <property name="username" value="${jdbc.username}" />
		    <property name="password" value="${jdbc.password}" />
		    <property name="initialSize" value="${jdbc.minsize}" />
		    <property name="minIdle" value="${jdbc.minIdle}" /> 
		    <property name="maxActive" value="${jdbc.maxsize}" />
		    <property name="maxWait" value="60000" />
		    <property name="timeBetweenEvictionRunsMillis" value="60000" />
		    <property name="minEvictableIdleTimeMillis" value="300000" />
		    <property name="validationQuery" value="SELECT 'x'" />
		    <property name="testWhileIdle" value="true" />
		    <property name="testOnBorrow" value="false" />
		    <property name="testOnReturn" value="false" />
		    <property name="poolPreparedStatements" value="false" />
		    <!-- <property name="maxPoolPreparedStatementPerConnectionSize" value="20" /> -->
		    <property name="filters" value="stat" /> 
		</bean>
	</beans>
</beans>